<!DOCTYPE HTML>
<html>
<!-- #header开始 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale = 1.0, user-scalable = no">
<title>page5308</title>
<link type="text/css" rel="stylesheet" href="/static/5308css/style.css"
	media="screen">
<link type="text/css" rel="stylesheet"
	href="/static/5308css/prettyPhoto.css" type="text/css" />
<link type="text/css" rel="stylesheet"
	href="/static/5308css/normalize.css" media="screen">
<link type="text/css" rel="stylesheet" href="/static/5308css/grid.css"
	media="screen">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,300italic'
	rel='stylesheet' type='text/css'>

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/5308js/jquery.easing.1.3.js"></script>
<script type="text/javascript"
	src="/static/5308js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/static/5308js/jquery.tweet.js"></script>
<script type="text/javascript" src="/static/5308js/jquery.sticky.js"></script>
<script type="text/javascript" src="/static/5308js/js.js"></script>
<script type="text/javascript"
	src="/static/5308js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="/static/5308js/waypoints.min.js"></script>

<!--[if lt IE 9]>
		<script src="/static/5308js/html5shiv.js"></script>
		<script src="/static/5308js/respond.src.js"></script>
	<![endif]-->

</head>
<!-- #header结束 -->
<body>

	<div class="slide" id="slide1" data-slide="1"
		data-stellar-background-ratio="0.5">
		<div class="effect_2">
			<div class="container clearfix">

				<div id="content" class="grid_12">
					<div class="filtr_bg">
						<div class="slogan">
							<div class="left_bord"></div>
							<div class="slogan_text">sonidigg</div>
							<div class="right_bord"></div>
						</div>
						<h1>leading the path of music</h1>
						<p>music big data</p>
						<a class="button" title="" data-slide="2"></a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="inset_shadow"></div>
		</div>
	</div>

	<!-- #导航开始 -->
	<div class="menu">
		<div class="container clearfix">

			<div id="nav">
				<a class="btn_dropdown" data-toggle="collapse"
					data-target=".nav-collapse_">MENU</a>
				<ul class="navigation ph-line-nav">
					<li data-slide="2">About Us</li>
					<li data-slide="4">Services</li>
					<li data-slide="6">Events</li>
					<li data-slide="8">Works</li>
					<li data-slide="10">Team</li>
					<li data-slide="12">Contact</li>
					<div class="effect"></div>
					<div class="clear"></div>
				</ul>
			</div>

		</div>
	</div>
	<!-- #导航结束 -->

	<!-- #about us开始 -->
	<div class="slide" id="slide2" data-slide="2"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>About Us</h2>
			</div>
			<div class="clear"></div>

			<div id="content">
				<div class="grid_12">
					<h4>Introduction</h4>
					<p>Morbi rutrum, elit ac fermentum egestas, tortor ante
						vestibulum est, eget scelerisque nisl velit eget tellus. Fusce
						porta facilisis luctus. Integer neque dolor, rhoncus nec euismod
						eget, pharetra et tortor. Nulla id pulvinar nunc. Vestibulum
						auctor nisl vel lectus ullamcorper sed pellentesque dolor
						eleifend. Praesent lobortis magna vel diam mattis sagittis.</p>
					<p>Mauris porta odio eu risus scelerisque id facilisis ipsum
						dictum vitae volutpat. Lorem ipsum dolor sit amet, consectetur
						adipiscing elit. Sed pulvinar neque eu purus sollicitudin et
						sollicitudin dui ultricies. Maecenas cursus auctor tellus sit amet
						blandit. Maecenas a erat ac nibh molestie interdum. Class aptent
						taciti sociosqu ad litora torquent per conubia nostra, per
						inceptos himenaeos. Sed lorem enim, ultricies sed sodales id,
						convallis molestie ipsum. Morbi eget dolor ligula. Vivamus
						accumsan rutrum nisi nec elementum. Pellentesque at nunc risus.
						Phasellus ullamcorper bibendum varius. Quisque quis ligula sit
						amet felis ornare porta. Aenean viverra lacus et mi elementum
						mollis. Praesent eu justo elit.</p>
				</div>

				<div class="clear"></div>
			</div>

		</div>
	</div>
	<!-- #about us结束 -->

	<!-- #Services开始 -->
	<div class="slide" id="slide4" data-slide="4"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>
					<span>Services</span>
				</h2>
			</div>
			<div class="clear"></div>

			<div id="content">
				<div class="grid_3">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<div class="icon_bord">
							<img class="icon1" src="/static/5308images/icon1.png" /> <img
								class="icon1_h" src="/static/5308images/icon1_h.png" />
						</div>
						<p>sinomate音乐风向标</p> 音乐风向标实时反馈全世界约8000个电台频道播放情况。 实时展现电台频道播放记录，播放内容
						独创的音频指纹分析技术，精准快捷
					</a>
				</div>
				<div class="grid_3">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<div class="icon_bord">
							<img class="icon1" src="/static/5308images/icon2.png" /> <img
								class="icon1_h" src="/static/5308images/icon2_h.png" />
						</div>
						<p>Pedimoni 开源地毯</p> 开源地毯采用敏捷传感器实时跳动，反馈音乐会现场热度
						简易安装，可以轻松布置在诸如剧院，露天场所等各种音乐会场景 简易安装，可以轻松布置在诸如剧院，露天场所等各种音乐会场景
					</a>
				</div>
				<div class="grid_3">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<div class="icon_bord">
							<img class="icon1" src="/static/5308images/icon3.png" /> <img
								class="icon1_h" src="/static/5308images/icon3_h.png" />
						</div>
						<p>Pogothermo</p> Pogothermo start its evolution in pogo
						thermometer which could make use of sensors to capture every close
						reaction of fans as statistics through counting the shout, bounce,
						pogo, etc.
					</a>
				</div>
				<div class="grid_3 omega">
					<a class="servc_block" href="javascript:void(0);" alt="">
						<div class="icon_bord">
							<img class="icon1" src="/static/5308images/icon4.png" /> <img
								class="icon1_h" src="/static/5308images/icon4_h.png" />
						</div>
						<p>Pogo-Rock</p> This is a not only database to hold all the
						information of rockers, but also a platform which can combine
						bands and fans together. Bands’ recent news and performances can
						be published in there, for all the fans.
					</a>
				</div>

				<div class="clear"></div>
			</div>

		</div>
	</div>
	<!-- #Services结束 -->

	<!-- #Events开始 -->
	<div class="slide" id="slide6" data-slide="6"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>Events</h2>
			</div>
			<div class="clear"></div>
			<!-- #中间效果 -->
			<div id="content">
				<div class="grid_12">
					<div class="exhib_block">
						<div class="exhib_line_center"></div>
						<div class="exhib_date_top">2013</div>
						<p class="exhib_p_top">“Etiam gravida convallis, Columbus
							College</p>

						<div class="exhib_cont fright">
							<div class="exhib_date_left">2013</div>
							<p>“TEtiam nunc tortor”, Junction View Studios</p>
							Pellentesque habitant morbi tristique senectus et netus et
							malesuada fames ac turpis egestas. Cras sed risus
						</div>
						<div class="clear"></div>

						<div class="exhib_cont fleft">
							<div class="exhib_date_right">2013</div>
							<p>“Vestibulum euismod ”, Columbus College</p>
							Donec in vehicula augue. Sed et nisi sem, at semper dolor.
							Pellentesque habitant morbi tristique senectus
						</div>
						<div class="clear"></div>

						<div class="exhib_cont fright">
							<div class="exhib_date_left">2013</div>
							<p>“Aliquam vitae lorem ”, Junction View Studios</p>
							Pellentesque habitant morbi tristique senectus et netus et
							malesuada fames ac turpis egestas. Cras sed risus
						</div>
						<div class="clear"></div>

					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!-- #中间效果end -->

		</div>
	</div>
	<!-- #Events结束 -->


	<!-- #Works开始 -->
	<div class="slide" id="slide8" data-slide="8"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>
					<span>works</span>
				</h2>
			</div>
			<div class="clear"></div>

			<div id="content">
				<div class="grid_12">
					<h4>our works</h4>
					<div class="exhib_block">
						<div class="exhib_line_center"></div>
						<div class="exhib_date_top">2013</div>
						<p class="exhib_p_top">design</p>

						<div class="exhib_cont fright">
							<div class="exhib_date_left">2013</div>
							<p>Web Design</p>
							Aliquam vitae lorem nunc, nec iaculis leo. Nulla tempor iaculis
							enim, at pharetra velit imperdiet sed. In
						</div>
						<div class="clear"></div>

						<div class="exhib_cont fleft">
							<div class="exhib_date_right">2013</div>
							<p>design</p>
							Maecenas quam sem, ornare ac consectetur a, vehicula eu neque.
							Suspendisse eros nunc, porta eget
						</div>
						<div class="clear"></div>

						<div class="exhib_cont fright">
							<div class="exhib_date_left">2013</div>
							<p>Commercial Photographer</p>
							Duis elementum mollis purus, sit amet porta eros aliquet euismod.
							Donec sit amet dictum erat. Curabitur
						</div>
						<div class="clear"></div>

						<div class="exhib_cont fleft">
							<div class="exhib_date_right">2013</div>
							<p>design</p>
							Maecenas quam sem, ornare ac consectetur a, vehicula eu neque.
							Suspendisse eros nunc, porta eget
						</div>
						<div class="clear"></div>

					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
	</div>
	<!-- #Works结束 -->

	<!-- #slider10 Team开始 -->
	<div class="slide" id="slide10" data-slide="10"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>
					<span>Team</span>
				</h2>
			</div>
			<div class="clear"></div>

			<div id="contenet">
				<div class="overflow_hidden">
					<!-- portfolio_block -->
					<div class="gallery-list">
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/1.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/1big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/2.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/2big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/3.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/3big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/4.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/4big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/5.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/5big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/6.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/6big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/7.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/7big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>
						<div class="img_block">
							<div class="hover_img">
								<img class="img_block_bg"
									src="/static/5308images/img_block_bg.png" /> <img
									class="portf_img" src="/static/5308images/8.jpg" alt="" /> <span
									class="portfolio_zoom"><a
									href="/static/5308images/8big.jpg"
									rel="prettyPhoto[portfolio1]"></a></span> <span class="portfolio_link"><a
									href="javascript:void(0);">View item</a></span>
								<div class="item_description">
									<p>Nunc non purus</p>
									Quisque vulputate tristique
								</div>
							</div>
						</div>

						<div class="clear"></div>
					</div>
					<!-- //portfolio_block -->
				</div>
			</div>

		</div>
	</div>
	<!-- #slider10 Team end -->

	<!-- #slider12 contact开始 -->
	<div class="slide" id="slide12" data-slide="12"
		data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<h2>Contact</h2>
			</div>
			<div class="clear"></div>
			<!-- #联系我们 
			<div class="grid_12">
				<div class="client_foto">
					<img src="/static/5308images/foto_bg.png" /> <img class="foto"
						src="/static/5308images/foto.jpg" alt="" />
				</div>
				<h5>Raymond( Photographer )</h5>
				<p>Nullam aliquam, mauris sit amet convallis condimentum, massa
					tortor pretium magna, vitae rutrum libero nibh vitae nisl. Sed
					imperdiet dictum sapien. Mauris tortor massa, euismod eu rhoncus
					dignissim, ultrices at leo. Donec gravida, lorem ac sollicitudin</p>
				<div class="socials">
					<a class="soc1" href="javascript:void(0);"></a> <a class="soc2"
						href="javascript:void(0);"></a> <a class="soc3"
						href="javascript:void(0);"></a> <a class="soc4"
						href="javascript:void(0);"></a>
				</div>
			</div>
			<!-- #联系我们 图片干掉 -->
			<div id="content">
				<div class="grid_6">
					<h4>
						<p>Introduction</p>
					</h4>
					<p>Sonidigg, as a cutting-edge company which deals with musical
						data analysis, we intend to count precise statistics in the
						variety of music scenes, and to quantify, materialize and digitize
						the accuracy of the abstractive data. So that everything hidden
						behind the data would be discovered and brought with considerable
						value.</p>
					<p>We fertilize data to reshape the music industry.</p>
				</div>
				<div class="grid_4 omega">
					<h4>
						<p>Company Address
						<p>
					</h4>
					<ul class="det_inf">
						<li class="phone">(+010) 62418396</li>
						<li class="address">Tower C,cloud base,shangdi west
							road,Haidian,Beijing,China</li>
						<li class="pers_mail"><a href="javascript:void(0);">wbl@sonidigg.com</a></li>
						<li class="pers_site"><a href="javascript:void(0);">www.sonidigg.com</a></li>
					</ul>
				</div>
				<div id="map_block">
					<iframe width="100%" height="280" frameborder="0" scrolling="no"
						marginheight="0" marginwidth="0"
						src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Malianwa North Road+Haidian+Beijing+China&amp;aq=&amp;sll=40.034466,116.296248&amp;sspn=0.0092,0.020084&amp;ie=UTF8&amp;hq=&amp;hnear=菊园东+Haidian+Beijing+China&amp;ll=40.034466,116.296248&amp;spn=0.0092,0.020084&amp;t=m&amp;z=14&amp;output=embed"></iframe>
				</div>
			</div>
			<div class="clear"></div>

		</div>
	</div>
	<!-- #slider12 contact end -->

	<!-- #google地图全屏幕显示开始 -->
	<div id="map_block">
		<iframe width="100%" height="722" frameborder="0" scrolling="no"
			marginheight="0" marginwidth="0"
			src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ruanjianyuan No.1 Road+Beijing+China&amp;aq=&amp;sll=40.048511316272,116.297321319580&amp;sspn=0.036836,0.080338&amp;ie=UTF8&amp;hq=&amp;hnear=ruanjianyuan No.1 Road+Beijing+China&amp;ll=40.048511316272,116.297321319580&amp;sspn=0.036836,0.080338&amp;t=m&amp;z=14&amp;output=embed"></iframe>
	</div>
	<!-- #google地图全屏幕显示结束 -->

	<!-- #footer开始 -->
	<div id="footer">
		<div class="container clearfix">
			<div class="copyright">
				Copyright © 2013 <a href="http://www.sonidigg.com">SoniDigg</a>
				&copy; |All rights reserved
			</div>
			<div id="back_top">
				<a class="button" title="" data-slide="1"></a>
			</div>
		</div>
	</div>
	<!-- #footer结束 -->

</body>
</html>
