<!DOCTYPE HTML>
<html>
<!-- #header开始 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale = 1.0, user-scalable = no">
<title>page5302</title>
<link rel="stylesheet" href="/static/page5302css/style.css"
	type="text/css">
<link rel="stylesheet" href="/static/page5302css/normalize.css"
	type="text/css">
<link rel="stylesheet" href="/static/page5302css/grid.css"
	type="text/css">
<link rel="stylesheet" href="/static/page5302css/css.css"
	type="text/css">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,300'
	rel='stylesheet' type='text/css'>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript"
	src="/static/page5302js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/page5302js/jquery.sticky.js"></script>
<script type="text/javascript" src="/static/page5302js/js.js"></script>
<script type="text/javascript"
	src="/static/page5302js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="/static/page5302js/waypoints.min.js"></script>

<!--[if lt IE 9]>
		<script src="/static/page5302js/html5shiv.js"></script>
		<script src="/static/page5302js/respond.src.js"></script>
		<style type="text/css">
			.circle_img {display:none; }
			#slide1 span {font-size:26px;}
		</style>
	<![endif]-->

</head>
<!-- #header开始 -->

<body>
	<div class="effect_1">
		<div class="slide" id="slide1" data-slide="1"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">

				<div id="content" class="grid_12">
					<div class="filtr_bg">
						<h1>Hello World!</h1>
						<h2>welcome to the IOS world</h2>
						<h3>IOS development & web development</h3>
						<span>August 24, 2020 at Radisson Blue Water Garden,
							Barcelona</span>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<!-- #导航开始 -->
		<div class="menu">
			<div class="container clearfix">

				<div id="logo" class="fleft">
					<a href="index.html"><img src="/static/page5302img/logo.png" /></a>
				</div>

				<div id="nav" class="fright">
					<ul class="navigation">
						<li data-slide="1">Home</li>
						<li data-slide="2">About</li>
						<li data-slide="4">Study Plan</li>
						<li data-slide="6">RSVP</li>
						<li data-slide="8">Team</li>
						<li data-slide="10">Contact</li>
						<div class="clear"></div>
					</ul>
				</div>

			</div>
		</div>
		<!-- #导航结束 -->

		<!-- #about开始 -->
		<div class="slide" id="slide2" data-slide="2"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">

				<div id="content" class="about_heart">
					<img class="heart" src="/static/page5302img/heart_2.png" />
					<div class="grid_6">
						<div class="about_block">
							<h4>About IOS</h4>
							<img class="bride_foto"
								src="/static/page5302img/ios7_cover_photo.png" alt="" />
							<p>Sed lacus arcu, fermentum eget lacinia sed, accumsan non
								mauris. Vestibulum sed laoreet nunc. Quisque elit lacus,
								accumsan vel faucibus id, dignissim non felis. Ut rhoncus,</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="grid_6 omega">
						<div class="about_block">
							<h4>About Web</h4>
							<img class="bride_foto"
								src="/static/page5302img/ios6_ios7_home_screens.jpg" alt="" />
							<p>Aliquam lobortis gravida tempus. Etiam in pretium tellus.
								Aliquam sed sem dolor, sed luctus nibh. Nulla eget nibh metus,
								ut gravida libero. Cras porttitor quam a neque</p>
							<div class="clear"></div>
						</div>
					</div>

					<div class="clear"></div>
					<img class="icon_heart" src="/static/page5302img/icon1.png" />
				</div>

			</div>
		</div>
		<!-- #about结束 -->

		<!-- #study开始 -->
		<div class="slide" id="slide4" data-slide="4"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">

				<div id="content">
					<div class="grid_12">
						<div class="plan_block">
							<h4>study plan</h4>
							<p>Aenean interdum mi sed risus ultricies venenatis. Donec
								feugiat sollicitudin felis vel commodo. Aliquam rutrum, ipsum et
								bibendum condimentum, magna leo blandit leo, vitae pretium risus
								tortor ut erat. Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. Etiam sed ante a nisi pretium pharetra commodo
								ac ipsum. Cras volutpat, turpis et sollicitudin porta, nisi nunc
								convallis augue, sed mollis erat eros eget sem. Mauris tempus
								vulputate dolor, sed auctor eros pulvinar vel. Morbi mollis,
								velit vitae viverra suscipit, sapien tellus tincidunt sapien,
								quis venenatis libero dolor eu</p>
						</div>
					</div>
					<div class="clear"></div>

					<div class="dot_line_center">
						<div class="dot_line_img"></div>
						<div class="grid_6 little_respond">
							<div class="plan_details">
								<p>Ceremony</p>
								<img src="/static/page5302img/map_pin.png" />
								<p>Saint Bartholomew's Cathedral</p>
								<span>August, 24 2020, 10:00</span>
							</div>
						</div>
						<div class="grid_6">
							<div class="plan_foto">
								<div class="apndks"></div>
								<div class="dottd"></div>
								<img src="/static/page5302img/plan1.jpg" alt="" />
							</div>
						</div>
						<div class="grid_6 big_respond omega">
							<div class="plan_details">
								<p>Ceremony</p>
								<img src="/static/page5302img/map_pin.png" />
								<p>Saint Bartholomew's Cathedral</p>
								<span>August, 24 2020, 10:00</span>
							</div>
						</div>
						<div class="clear"></div>
						<div class="grid_6">
							<div class="plan_details left_det">
								<p>Ceremony</p>
								<img src="/static/page5302img/map_pin.png" />
								<p>Saint Bartholomew's Cathedral</p>
								<span>August, 24 2020, 10:00</span>
							</div>
						</div>
						<div class="grid_6 omega">
							<div class="plan_foto_2">
								<div class="apndks_2"></div>
								<div class="dottd_2"></div>
								<img src="/static/page5302img/plan2.jpg" alt="" />
							</div>
						</div>
						<div class="clear"></div>
						<div class="grid_6 little_respond">
							<div class="plan_details">
								<p>Ceremony</p>
								<img src="/static/page5302img/map_pin.png" />
								<p>Saint Bartholomew's Cathedral</p>
								<span>August, 24 2020, 10:00</span>
							</div>
						</div>
						<div class="grid_6">
							<div class="plan_foto">
								<div class="apndks"></div>
								<div class="dottd"></div>
								<img src="/static/page5302img/plan3.jpg" alt="" />
							</div>
						</div>
						<div class="grid_6 big_respond omega">
							<div class="plan_details">
								<p>Ceremony</p>
								<img src="/static/page5302img/map_pin.png" />
								<p>Saint Bartholomew's Cathedral</p>
								<span>August, 24 2020, 10:00</span>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<img class="icon_heart" src="/static/page5302img/icon1.png" />
				</div>

			</div>
		</div>
		<!-- #study end -->


		<!-- #RSVP 开始 -->
		<div class="slide" id="slide6" data-slide="6"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">

				<div id="content">
					<div class="grid_12">
						<div class="rsvp_block">
							<h4>Are you attending? RSVP here!</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Etiam sed ante a nisi pretium pharetra commodo ac ipsum. Cras
								volutpat, turpis et sollicitudin porta, nisi nunc convallis
								augue, sed mollis erat eros eget sem. Mauris tempus vulputate
								dolor, sed auctor eros pulvinar vel. Morbi mollis, velit vitae
								viverra suscipit, sapien tellus tincidunt sapien, quis venenatis
								libero dolor eu mauris.</p>

							<form method="post" action="">
								<div class="inpt_bl">
									<label>Your Name</label> <input class="name_form" type="text"
										name="text" />
								</div>

								<div class="inpt_bl">
									<label>Number of Guests</label>
									<div class="select">
										<a href="#" class="slct">1</a>
										<ul class="drop">
											<li>1</li>
											<li>2</li>
											<li>3</li>
											<li>4</li>
											<li>5</li>
										</ul>
										<input type="hidden" id="select" />
									</div>
								</div>

								<div class="inpt_bl omega">
									<label>You will attend...</label>
									<div class="select2">
										<a href="#" class="slct2">All Events</a>
										<ul class="drop2">
											<li>All Events</li>
											<li>Ceremony</li>
											<li>Restaurant</li>
											<li>Party</li>
										</ul>
										<input type="hidden" id="select2" />
									</div>
								</div>
								<div class="clear"></div>

								<input type="submit" class="form_btn contact_btn send_btn"
									value="I Am Attending" />
							</form>

						</div>
					</div>
					<div class="clear"></div>

					<img class="icon_heart" src="/static/page5302img/icon1.png" />
				</div>

			</div>
		</div>
		<!-- #RSVP end-->


		<!-- #team 开始 -->
		<div class="slide" id="slide8" data-slide="8"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">
				<!-- #圆形图像效果 -->
				<div id="contenet">
					<div class="gallery_block">
						<h4>Team</h4>
						<div class="gallery-list">
							<!-- portfolio_block -->
							<div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/1.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/2.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/3.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/4.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/5.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/6.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/7.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>
								<div class="img_block">
									<div class="hover_img">
										<img class="circle_img"
											src="/static/page5302img/circle_img.png" /> <img
											class="portf_img" src="/static/5303images/8.jpg" alt="" />
										<div class="inset_shadow"></div>
										<div class="item_description">
											<p>Donec sapien</p>
											Donec quis erat lectus, vitae viverra ipsum
										</div>
									</div>
								</div>

								<div class="clear"></div>
							</div>
							<!-- //portfolio_block -->
						</div>
					</div>
					<img class="icon_heart" src="/static/page5302img/icon1.png" />
				</div>
				<!-- #圆形图像效果end -->

			</div>
		</div>
		<!-- #team end -->

		<!-- #contact开始 -->
		<div class="slide" id="slide10" data-slide="10"
			data-stellar-background-ratio="0.5">
			<div class="container clearfix">

				<div class="direction_block">
					<h4>Contact</h4>
					<div id="content">
						<div class="grid_6">
							<div class="address_block">
								<h5>Address</h5>
								<p>
									<img class="map_pin2" src="/static/page5302img/map_pin2.png" />Tower
									C,Cloud Base,XierQi,Haidian,Beijing
								</p>
								<p>Sonidigg development center locates at "Tower C, Cloud
									Vally,ShangDi International software Zone,HaiDian
									District,Beijing",besides R&D center of Bank of China adn Baidu
									Building</p>
								<h5>Parking</h5>
								<p>Parking here is convinent and easy, for there are parking
									stations and you can also park your car nearby the roads.</p>
							</div>
						</div>
						<div class="grid_6 omega">
							<h4>公司地址</h4>
							<ul class="pers_inf">
								<li><span>座机：</span>(+010) 62418396</li>
								<li><span>北京研发总部：</span>云基地C座，西二旗软件园，海淀区，北京</li>
								<li><span>北京算法中心：</span>亦庄软件产业园，亦庄经济技术开发区，北京</li>
								<li><span>长沙算法中心：</span>开福区德雅路，长沙市,湖南省</li>
								<li><span>Email：</span><a href="mailto:wbl@sonidigg.com"
									class="">wbl@sonidigg.com</a></li>
								<li><span>Website</span><a href="/englishpage">Sonidigg
										English page</a></li>
								<li><span>中文版网站：</span><a href="/mainpagechinese">数音堂中文网站</a></li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>

					<div id="map_block">
						<iframe width="100%" height="280" frameborder="0" scrolling="no"
							marginheight="0" marginwidth="0"
							src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Malianwa North Road+Haidian+Beijing+China&amp;aq=&amp;sll=40.034466,116.296248&amp;sspn=0.0092,0.020084&amp;ie=UTF8&amp;hq=&amp;hnear=菊园东+Haidian+Beijing+China&amp;ll=40.034466,116.296248&amp;spn=0.0092,0.020084&amp;t=m&amp;z=14&amp;output=embed"></iframe>
					</div>
					<div class="clear"></div>
				</div>

			</div>

		</div>
		<!-- #contact结束 -->

		<!-- #footer开始 -->
		<div id="footer">
			<div class="container clearfix">
				<div class="copyright">
					Copyright © 2013 <a href="http://www.sonidigg.com">SoniDigg</a>
					&copy; |All rights reserved
				</div>
				<div id="back_top">
					<a class="button" title="" data-slide="1">back to top</a>
				</div>
			</div>
		</div>
		<!-- #footer结束 -->

	</div>
</body>
</html>
